<a href="/post/{{id}}">
  <article>
    <div>
      <p>{{title}}</p>
      <p>Posted by
        {{user.username}}
        on
        {{format_date created_at}}</p>
    </div>
    <div>
      <br />
      <p>{{content}}</p>
      <br />
      {{comments.length}}
      {{format_plural "comment" comments.length}}
    </div>
  </article>
</a>